PlantVillage
PlantVillage.7z
plantvillage_model
plantvillage_final_model
quantized_models
pruned_models
plantvillage_model_tiny
distilled_model_output
distilled_models
eval_results
plantvillage_final_model_tiny
plantvillage_final_model_tiny_balanced
plantvillage_model_tiny_balanced
plantvillage_final_model
plantvillage_final_model.zip
plantvillage_final_model.zip
distilled_model_final
best_models